<phpunit bootstrap="../autoload.php">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="fcontroller">
            <directory>.</directory>
        </testsuite>
    </testsuites>
</phpunit>